Package: com.victorlobe.icloudmailfix
Name: iCloudMailFix
Version: 2
Architecture: iphoneos-arm
Description: Fix iCloud Mail and Notes!
Maintainer: Victor <contact@victorlobe.me>
Author: Victor <contact@victorlobe.me>
Section: Tweaks
Depends: mobilesubstrate, PreferenceLoader, firmware (>= 6.0)
Priority: optional
Depiction: http://repo.victorlobe.me/depictions/depiction.html?id=com.victorlobe.icloudmailfix
Compatibility: iOS 6.0+
