<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Instructions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>
1. Open Settings → Mail, Contacts, Calendars

2. Tap Add Account

3. Select Other

4. Choose Add Mail Account

5. Enter your iCloud email and App Specific Password

6. For Incoming Mail Server:
   • Host Name: imap.mail.me.com
   • Username: The name part of your mail address (e.g. Tim.cook@icloud.com → Tim.cook)
   • Password: Your App Specific Password

7. For Outgoing Mail Server:
   • Host Name: smtp.mail.me.com
   • Username: Your full iCloud email (e.g. Tim.cook@icloud.com)
   • Password: Your App Specific Password
   
8. Tap Save

9: It might take a while. Be patient. When asked if you want to set up the account without SSL, select “No SSL.” After that, an error will appear — this is normal. Just tap “Continue.”

10. Done


Note: This tweak currently only works with manually added iCloud Mail accounts. The default iCloud Mail account from Settings → iCloud → Mail will not work. Support for the default iCloud Mail account will be added in a future update.

</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>footerText</key>
			<string>Made with ❤️ by Victor Lobe</string>
		</dict>
	</array>
	<key>title</key>
	<string>iCloud Mail Fix</string>
</dict>
</plist>
